<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NEXT-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,133}</string>
                <key>spriteSourceSize</key>
                <string>{128,133}</string>
                <key>textureRect</key>
                <string>{{1751,757},{128,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAUSE button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,114}</string>
                <key>spriteSourceSize</key>
                <string>{109,114}</string>
                <key>textureRect</key>
                <string>{{1638,456},{109,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rectangle 48 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,300}</string>
                <key>spriteSourceSize</key>
                <string>{110,300}</string>
                <key>textureRect</key>
                <string>{{1526,460},{110,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back 1 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,93}</string>
                <key>spriteSourceSize</key>
                <string>{97,93}</string>
                <key>textureRect</key>
                <string>{{1765,892},{97,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,85}</string>
                <key>spriteSourceSize</key>
                <string>{60,85}</string>
                <key>textureRect</key>
                <string>{{1,898},{60,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/bg_cloud_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,172}</string>
                <key>spriteSourceSize</key>
                <string>{136,172}</string>
                <key>textureRect</key>
                <string>{{1041,800},{136,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/bg_cloud_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,112}</string>
                <key>spriteSourceSize</key>
                <string>{177,112}</string>
                <key>textureRect</key>
                <string>{{376,803},{177,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg/bg_cloud_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,168}</string>
                <key>spriteSourceSize</key>
                <string>{149,168}</string>
                <key>textureRect</key>
                <string>{{1179,794},{149,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/sky_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,895}</string>
                <key>spriteSourceSize</key>
                <string>{4,895}</string>
                <key>textureRect</key>
                <string>{{1,1},{4,895}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{63,983},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue 1 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,93}</string>
                <key>spriteSourceSize</key>
                <string>{98,93}</string>
                <key>textureRect</key>
                <string>{{276,803},{98,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_claim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,141}</string>
                <key>spriteSourceSize</key>
                <string>{349,141}</string>
                <key>textureRect</key>
                <string>{{1523,1},{349,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,134}</string>
                <key>spriteSourceSize</key>
                <string>{348,134}</string>
                <key>textureRect</key>
                <string>{{1666,1},{348,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{124,130}</string>
                <key>textureRect</key>
                <string>{{1779,593},{124,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,124}</string>
                <key>spriteSourceSize</key>
                <string>{309,124}</string>
                <key>textureRect</key>
                <string>{{1198,464},{309,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{1905,637},{110,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,130}</string>
                <key>spriteSourceSize</key>
                <string>{125,130}</string>
                <key>textureRect</key>
                <string>{{1881,466},{125,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_try_again.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,129}</string>
                <key>spriteSourceSize</key>
                <string>{328,129}</string>
                <key>textureRect</key>
                <string>{{1067,464},{328,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,114}</string>
                <key>spriteSourceSize</key>
                <string>{109,114}</string>
                <key>textureRect</key>
                <string>{{1909,749},{109,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,57}</string>
                <key>spriteSourceSize</key>
                <string>{366,57}</string>
                <key>textureRect</key>
                <string>{{1407,1},{366,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button yellow 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,55}</string>
                <key>spriteSourceSize</key>
                <string>{351,55}</string>
                <key>textureRect</key>
                <string>{{1466,1},{351,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,150}</string>
                <key>spriteSourceSize</key>
                <string>{137,150}</string>
                <key>textureRect</key>
                <string>{{1875,103},{137,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_for_tut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1000}</string>
                <key>spriteSourceSize</key>
                <string>{800,1000}</string>
                <key>textureRect</key>
                <string>{{7,1},{800,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friends icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,51}</string>
                <key>spriteSourceSize</key>
                <string>{72,51}</string>
                <key>textureRect</key>
                <string>{{1571,912},{72,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,396}</string>
                <key>spriteSourceSize</key>
                <string>{461,396}</string>
                <key>textureRect</key>
                <string>{{1009,1},{461,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift-box _light 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,173}</string>
                <key>spriteSourceSize</key>
                <string>{174,173}</string>
                <key>textureRect</key>
                <string>{{490,803},{174,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>header_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,127}</string>
                <key>spriteSourceSize</key>
                <string>{10,127}</string>
                <key>textureRect</key>
                <string>{{1041,974},{10,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hint 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,173}</string>
                <key>spriteSourceSize</key>
                <string>{186,173}</string>
                <key>textureRect</key>
                <string>{{665,803},{186,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint-button-disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,173}</string>
                <key>spriteSourceSize</key>
                <string>{186,173}</string>
                <key>textureRect</key>
                <string>{{853,803},{186,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{104,125}</string>
                <key>textureRect</key>
                <string>{{1507,354},{104,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,113}</string>
                <key>spriteSourceSize</key>
                <string>{109,113}</string>
                <key>textureRect</key>
                <string>{{1909,860},{109,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{1709,902},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{1976,242},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{1864,892},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,93}</string>
                <key>spriteSourceSize</key>
                <string>{99,93}</string>
                <key>textureRect</key>
                <string>{{175,803},{99,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left button 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{1638,720},{38,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_effect 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,139}</string>
                <key>spriteSourceSize</key>
                <string>{146,139}</string>
                <key>textureRect</key>
                <string>{{1638,572},{146,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_base 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,42}</string>
                <key>spriteSourceSize</key>
                <string>{142,42}</string>
                <key>textureRect</key>
                <string>{{1707,758},{142,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nobutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{99,100}</string>
                <key>textureRect</key>
                <string>{{1875,242},{99,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obten estrellas bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,200}</string>
                <key>spriteSourceSize</key>
                <string>{305,200}</string>
                <key>textureRect</key>
                <string>{{1324,464},{305,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>off button 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{1690,720},{36,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>on button 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{1976,315},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>on button bg 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{74,39}</string>
                <key>textureRect</key>
                <string>{{1624,912},{70,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>option 2 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,93}</string>
                <key>spriteSourceSize</key>
                <string>{98,93}</string>
                <key>textureRect</key>
                <string>{{1407,369},{98,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pink-button 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,93}</string>
                <key>spriteSourceSize</key>
                <string>{166,93}</string>
                <key>textureRect</key>
                <string>{{7,803},{166,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play icon 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{1722,720},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_bar_filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,22}</string>
                <key>spriteSourceSize</key>
                <string>{29,22}</string>
                <key>textureRect</key>
                <string>{{1179,964},{29,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle_grid_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,510}</string>
                <key>spriteSourceSize</key>
                <string>{4,510}</string>
                <key>textureRect</key>
                <string>{{360,982},{4,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sample_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,100}</string>
                <key>spriteSourceSize</key>
                <string>{158,100}</string>
                <key>textureRect</key>
                <string>{{1875,1},{158,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share-button-large 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,113}</string>
                <key>spriteSourceSize</key>
                <string>{281,113}</string>
                <key>textureRect</key>
                <string>{{1749,351},{281,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>size_tab_intro_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,56}</string>
                <key>spriteSourceSize</key>
                <string>{334,56}</string>
                <key>textureRect</key>
                <string>{{1009,464},{334,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star2_big 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,134}</string>
                <key>spriteSourceSize</key>
                <string>{148,134}</string>
                <key>textureRect</key>
                <string>{{1571,762},{148,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star2_big_gray 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{1634,352},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,71}</string>
                <key>spriteSourceSize</key>
                <string>{339,71}</string>
                <key>textureRect</key>
                <string>{{1802,1},{339,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_base 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,42}</string>
                <key>spriteSourceSize</key>
                <string>{121,42}</string>
                <key>textureRect</key>
                <string>{{1905,593},{121,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_red 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,83}</string>
                <key>spriteSourceSize</key>
                <string>{295,83}</string>
                <key>textureRect</key>
                <string>{{63,898},{295,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tooltip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,46}</string>
                <key>spriteSourceSize</key>
                <string>{59,46}</string>
                <key>textureRect</key>
                <string>{{1661,912},{59,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tut_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,239}</string>
                <key>spriteSourceSize</key>
                <string>{211,239}</string>
                <key>textureRect</key>
                <string>{{1330,771},{211,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yesbutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{99,100}</string>
                <key>textureRect</key>
                <string>{{1749,466},{99,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>first_load.png</string>
            <key>size</key>
            <string>{2045,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8fe4a8165fe21ed9a9c84e6e599c467:1cb203a987c9d4dd6ae330d7cd7d258d:cc358387d6b7659e7a3f3c3325d0dfb8$</string>
            <key>textureFileName</key>
            <string>first_load.png</string>
        </dict>
    </dict>
</plist>
